{% load static %}
{% include 'header1.html' %}

  <div class="container-fluid" style="margin-top:100px">
    <div class="row p-3">
    </div>
  </div>
  <div class="container mt-3">
    <div class="row">
      <h1 class="text-dark"><b>Grocery Orders:</b></h1>
      <h4>{{msg}}</h4>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
                                              {% for r in data %}

        <div class="mt-3 mb-3">
          <label><b>UserID:</b></label>
          <input type="email" value="{{r.userid}}" name="userid" class="form-control border border-2 border-dark w-50"  required>
        </div>
        <div class="mt-3 mb-3">
          <label><b>items:</b></label>
          <input type="text" name="item"  value="{{r.item}}" class="form-control border border-2 border-dark w-50" required pattern="[A-Za-z0-9,\s]+" title="Enter characters only">
        </div>
        <div class="mt-3 mb-3">
          <label><b>Quantity:</b></label>
          <input type="number" name="qty" value="{{r.qty}}" min=1 class="form-control border border-2 border-dark w-50"  required pattern="[0-9]+" title="Enter valid number">
        </div>
        
        <div class="mt-3 mb-3">
          <label><b>Price:</b></label>
          <input type="text" name="price" class="form-control border border-2 border-dark w-50"  required pattern="[0-9]+" title="Enter valid number">
        </div>
        
        <div class="mt-3 mb-3">
          <label><b>Total:</b></label>
          <input type="number" name="total"value="{{r.total}}" class="form-control border border-2 border-dark w-50"  required pattern="[0-9]+" title="Enter valid number">
        </div>

        <button type="submit" class="btn btn-dark w-50"><b>Submit</b></button>
      </form>
                            {% endfor %}

    </div>
  </div>
{% include 'footer.html' %}>