{% load static %}
{% include 'header1.html' %}

<div class="container-fluid" style="margin-top:100px">
    <div class="row">
        <!-- Empty row, consider adding content or removing -->
    </div>
</div>
 <div class="container mt-3">
    <div class="row">

<h1 class="text-dark fs-10 fw-bold">User Login:</h1>
<h4>{{ msg }}</h4>

<form method="post">
    {% csrf_token %}

    <div class="mt-3 mb-3">
        <label class="text-center"><b>Username:</b></label>
        <input type="email" name="email" class="form-control border border-2 border-dark w-50" required >
    </div>

    <div class="mt-3 mb-3">
        <label><b>Enter password:</b></label>
        <input type="password" name="pwd" class="form-control border border-2 border-dark w-50" required>
    </div>

    <button type="submit" class="btn btn-dark w-50 mb-3 mt-3"><b>Log in</b></button>
</form>
        <p> <a href="{% url 'Reg' %}"> <button class="btn btn-success"> Create An Account</button></a>
            <a href="{% url 'forgotpass' %}"> <button class="btn btn-danger"> Forgot Password?</button></a>
        </p>
    </div>
 </div>

{% include 'footer1.html' %}
